.prod-description {
    display: flex;
    flex-direction: column;
    .product_name {
        line-height:1;
        padding-top: 10px;
    }
}

.time_stats {
    font-size: small;
    color: #e3e3e3;
    font-weight: 100;
}

.section-link {
    text-transform: uppercase;
    // color: #fff !important;
}
